# Archivos de Python
*.pyc
__pycache__/

# Configuración de entornos virtuales
venv/
env/

# Archivos de bases de datos locales
db.sqlite3

# Configuración de Django
*.log
*.env
.env

# Archivos de caché
*.cache
